<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyFugwtMIonxdO8WJwCu_pnocs133mrUo</string>
	<key>GCM_SENDER_ID</key>
	<string>88788130904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>resedat.Foodie</string>
	<key>PROJECT_ID</key>
	<string>foodie-f21ee</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-f21ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88788130904:ios:83427ba3f338234b7f7e2d</string>
</dict>
</plist>